<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css'/>
  </head>
  <body>
    <form action="/" method="POST">
      <input type="text" name="name">名前
      <button class="btn_submit" type="submit"><%= btnName %></button>
    </form>
  </body>
</html>
