<!DOCTYPE html>
<html lang="ja">
    <body>
        <div class="modal_full">
            <div class="modal_bg"></div>
            <div class="register_content">
                <div id="register_name">
                    <label>名前</label>
                    <input type="text">
                </div>
                <div id="register_personality">
                    <label>性格</label>
                    <select id="register_personality_list">
                        <option value="" selected>選択してください</option>
                    </select>
                </div>
                <div id="register_status">
                </div>
                <div id="register_btn_area">
                </div>
            </div>
        </div>
    </body>
</html>