<!DOCTYPE html>
<html lang="ja">
    <body>
        <div class="modal_full">
            <div class="modal_bg"></div>
            <div class="register_content">
                <div class="row_1">
                    <label>名前
                        <input type="text" class="text_area" maxlength="5">
                    </label>
                </div>
                <div class="row_2">
                    <label>性格
                        <select class="row_2_list">
                            <option value="" selected>選択してください</option>
                            <% pesonrality_info.forEach(function(value) { %>
                                <option val="<%= value.PESONRALITY %>"><%= value.PESONRALITY %></option>
                                <% }); %>
                            </select>
                    </label>
                </div>
                <div class="row_3">
                    <% parameter_info.forEach(function(param){ %>
                        <div class="row_3_item">
                            <label>
                                <%= param.STATUS_NAME %>
                                <input class="row_3_input text_area" type="text" placeholder="0" maxlength="3">
                            </label>
                        </div>
                    <% }); %>
                </div>
                <div id="row_4">
                </div>
            </div>
        </div>
    </body>
</html>